{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}
{% load staticfiles %}
{% block inline_style %}
    <link rel="stylesheet" href="{% static 'influencers/css/noisemakerz_3.css' %}">
    <style>
    body {
    color: #000;
    margin-bottom: 0;
    background-image: url('{% static "influencers/images/landing-bg-2.jpg" %}');;
    background-color: #333;
}
    </style>
{% endblock %}

{% block content %}

     <div class="sign" style="width: 100%; padding-top: 80px; margin: 0 auto;">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a style="width: 100%; margin: 0 auto;" class="navbar-brand " href="{% url 'index' %}">
              <div class="nm-logo" style="width: 180px; margin: 0 auto;">
                  <img style="margin: 0 auto;" src="{% static "influencers/images/noisemaker-shade.svg" %}" alt="Noisemakerz Logo">
              </div>
          </a>
      </div>
      </nav>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="nm-dash" style="border-radius: 6px; box-shadow: #728099 0 1px 5px 0; margin: 0 auto; padding: 20px">
                <h1 style="color: #04bfad" class="text-center page-header"><i class="fa fa-envelope fa-2x"></i> </h1>

                  {% blocktrans  %}
                  <p class="text-center">The class captain sent a mail to</p>
               <div class="text-center">
                   <strong>
                      {{ email }}
               </strong>
                      </div>
                     <p class="text-center">Use the link in it to set a new password.</p>
              {% endblocktrans %}


                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}

{% block gloal_footer %}
    <div class="mastfoot" style=" margin:  0 auto;">
        <div class="ft-logo" style="width: 100px; margin: 0 auto; padding: 4px;">
            <img style="width: 90px; height: auto; margin: 0 auto;" src="{% static 'influencers/images/surkreo.svg' %}" alt="Surkreo">
        </div>
        <div class="inner text-center">&copy; {% now "Y" %} <a href="http:\\www.surkreo.com" target="_blank" > Surkreo </a>
        </div>
    </div>
    </div>
{% endblock %}