


{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block inline_style %}
    <link rel="stylesheet" href="{% static 'influencers/css/noisemakerz_3.css' %}">
    <style>
    body {
    color: #000;
    margin-bottom: 0;
    background-image: url('{% static "influencers/images/landing-bg-2.jpg" %}');;
    background-color: #333;
}
    </style>
{% endblock %}

{% block content %}

     <div class="sign" style="width: 100%; padding-top: 80px; margin: 0 auto;">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a style="width: 100%; margin: 0 auto;" class="navbar-brand " href="{% url 'index' %}">
              <div class="nm-logo" style="width: 180px; margin: 0 auto;">
                  <img style="margin: 0 auto;" src="{% static "influencers/images/noisemaker-shade.svg" %}" alt="Noisemakerz Logo">
              </div>
          </a>
      </div>
      </nav>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="nm-dash" style="border-radius: 6px; box-shadow: #728099 0 1px 5px 0; margin: 0 auto; padding: 20px">
                {% if invalid %}{% url "password_reset_recover" as recovery_url %}
		<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
	{% else %}
                    <h1 class="text-center page-header" style="color: #079e8f;"><i class="fa fa-lock fa-2x"></i> </h1>
		<p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
                <div class="">
                    <form method="post" action="{% url "password_reset_reset" token %}">
                        {% csrf_token %}
                                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}
                                    </strong>
                                </div>
    {% endfor %}
{% endif %}
                     <div class="form-group">
                            <label for="id_password1"></label>
                            <input class="required form-control" placeholder="New password" id="id_password1"  name="password1"  type="password" required />
                        </div>
                     <div class="form-group">
                            <label for="id_password2"></label>
                            <input class="required form-control" placeholder="Confirm password" id="id_password2"  name="password2"  type="password" required />
                        </div>
                    {{ form.non_field_errors }}

                        <div class="form-group ">
                            <input type="submit" class="btn nm-btn-primary" value="Reset" />
                        </div>
                    </form>
                {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}

{% block gloal_footer %}
    <div class="mastfoot" style=" margin:  0 auto;">
        <div class="ft-logo" style="width: 100px; margin: 0 auto; padding: 4px;">
            <img style="width: 90px; height: auto; margin: 0 auto;" src="{% static 'influencers/images/Surkreo.png' %}" alt="Surkreo">
        </div>
        <div class="inner text-center">&copy; {% now "Y" %} <a href="http:\\www.surkreo.com" target="_blank" > Surkreo </a>
        </div>
    </div>
    </div>
{% endblock %}