{% extends 'influencers/noisemakerz_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_title %}
    Invite
{% endblock %}
{% block tracker %}
{% endblock %}
{% block invite_nav_01 %}
                <li class="active" ><a href="{% url 'send-invite' %}"><i class="fa  fa-envelope" aria-hidden="true"></i>&nbsp; Invite</a></li>
                {% endblock %}
 {% block invite_nav %}
                <li class="active" ><a href="{% url 'send-invite' %}"><i class="fa  fa-envelope" aria-hidden="true"></i>&nbsp; Invite</a></li>
                {% endblock %}

{% block right_col %}
    <div class="nm-dash" style="width: 80%">
                     <h4 class="page-header">
                    Invite Your fellow noisemaker
                </h4>
                     <div class="form-wrapper">


<label class="">{% trans "Please add an email below. The class captain will handle the rest" %}</label>

<form id="invite-form" method="POST" action="{% url 'send-invite' %}">
  {% csrf_token %}
  <div class="form-group">
      <input type="text" name="email" id="id_email"  class="form-control validate-email" placeholder="{% trans 'Email' %}">
  </div>
  <div class="form-group">
    {% for error in form.email.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {{ success_message }}
  </div>
  <input type="submit" value="Send Invite" class="btn nm-btn-primary generic-ajax-submit">
</form>

   </div>


                 </div>


{% endblock %}

