{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Noisemakers{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
<link rel="icon" type="image/png" href="{% static 'influencers/images/fav-01.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'influencers/images/fav-02.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'influencers/images/fav-03.png' %}" sizes="96x96">
    <meta name="author" content="Noisemakers">
    <link rel="stylesheet" href="{% static 'influencers/css/bootstrap-slider.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'influencers/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'influencers/css/bootstrap.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'influencers/js/bootstrap-slider.js' %}"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>
<link rel="stylesheet" href="{% static 'influencers/css/noisemakers.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
    .stack-2 .header-title{
        background-image: url('{% static "influencers/images/how-it-works.svg" %}') ;
        background-position: left center;
        background-size: 80px auto;
        background-repeat: no-repeat;
    }
    .sign-up-icon{
        background-image:  url('{% static "influencers/images/icon-sign-up.svg" %}');
    }
     .act-icon{
        background-image:  url('{% static "influencers/images/icon-act.svg" %}');
    }
     .pay-icon{
        background-image:  url('{% static "influencers/images/icon-get-paid.svg" %}');
    }
</style>
{% block inline_style %}
{% endblock %}
    </head>
<body>
<div id="global-wrapper clearfix">
<div class="mast-header">
    {% block global_header %}
    {% endblock %}
</div>
    {% block content %}
    {% endblock %}
{% block gloal_footer %}
    <footer class="mast-footer clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-right" style="padding-top: 10px;">
                    <ul class=" footer-list-left list-unstyled">
                        <li><i class="fa fa-twitter "></i> </li>
                        <li><i class="fa fa-facebook "></i> </li>
                        <li><i class="fa fa-instagram"></i> </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <ul class=" footer-list list-unstyled">
                        <li><a  href="{% url 'faq' %}" >FAQs</a></li>
                        <li><a href="{% url 'brands' %}"> Business</a></li>
                        <li><a href="{% url 'influencers' %}"> Influencers</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="footer-logo clearfix">
                    <img style="padding: 5px;" src="{% static 'influencers/images/Surkreo.png' %}">
                        <br>
                        &copy;{% now "Y" %} &nbsp; Surkreo
                    </div>
                </div>
        </div>
        </div>
    </footer>
{% endblock %}
</div>
<script type="text/javascript" language="JavaScript">
	(function ($) {
  $(document).ready(function(){
	$(".sticky-header").hide();
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('.sticky-header').fadeIn(500);
			} else {
				$('.sticky-header').fadeOut(500);
			}
		});
	});
});
  }(jQuery));
	</script>
<script src="{% static 'influencers/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal2').modal('show');
    });
</script>
<script type="text/javascript">
    $(window).load(function(){
        $('#modal01').modal('show');
    });
</script>

<script>
// Create a clone of the menu, right next to original.
$('.stack-2').addClass('original2').clone().insertAfter('.stack-2').addClass('cloned2').removeClass('original2').hide();
scrollIntervalID = setInterval(stickIt, 10);
function stickIt() {
  var orgElementPos = $('.landing').offset();
  orgElementTop =  orgElementPos.top;
  if ($(window).scrollTop() <= orgElementTop + $('.landing').outerHeight() - window.innerHeight + 56 ) {
    orgElement = $('.original2');
    coordsOrgElement = orgElement.offset();
    leftOrgElement = coordsOrgElement.left;
    widthOrgElement = orgElement.css('width');
    $('.cloned2').css('left',leftOrgElement+'px').css('bottom',0).css('width',widthOrgElement).show();
    $('.original2').css('visibility','hidden');
  } else {
    $('.cloned2').hide();
    $('.original2').css('visibility','visible');
  }
}
</script>
  <script src="{% static 'influencers/js/jquery.smooth-scroll.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('.scroller').smoothScroll();
      $('.scroller').click(function(event) {
        event.preventDefault();
        var link = this;
        $.smoothScroll({
          scrollTarget: link.hash
        });
      });
    });
  </script>
</body>
</html>
