{% extends 'influencers/noisemakerz_base.html' %}
{% load staticfiles %}
{% block special %}
     <link rel="stylesheet" href="{% static 'influencers/css/bootstrap-select.min.css' %}">
    <script src="{% static 'influencers/js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block page_title %}
    Your Campaigns
{% endblock %}
{% block tracker %}
{% endblock %}
{% block your_campaigns_nav_01 %}
                <li class="active" ><a href="{% url 'create' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Your Campaigns</a></li>
                {% endblock %}
 {% block your_campaigns_nav %}
                <li class="active" ><a href="{% url 'create' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Your Campaigns</a></li>
                {% endblock %}

{% block right_col %}

<div class="nm-dash">
  <h4 class="page-header">Start Your Own NoiseMaking Campaign</h4>


<div class="form-wrapper">


    <form method="post" action=".">
        {% csrf_token %}

<div class="nm-radio">
    <fieldset>
        <legend>Action</legend>
<ul class="nm-ul list-unstyled">
        <li><div class="nm-radio-info">
    <input id="id_action_0" name="action" type="radio" value="Retweet" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" required checked="" />
        <label for="id_action_0">Retweet</label>
</div></li>
    <li>
    <div class="nm-radio-info">
        <input id="id_action_1" name="action" type="radio" value="Follow" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" required />
        <label for="id_action_1">Follow</label>
    </div></li>
    <li>
    <div class="nm-radio-info">
        <input id="id_action_2" name="action" type="radio" value="Tweet" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" required />
        <label for="id_action_2">Tweet</label>
    </div></li>
    </ul></fieldset>
    </div>
          <div class="panel-group" id="accordion">
    <div class="panel ">

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="">
            <div class="form-group">
            <label for="id_url"></label>
            <input placeholder="Paste tweet url" class="required form-control" id="id_url" maxlength="250" name="url" type="text" />
                </div>

        </div>
      </div>
    </div>
    <div class="panel ">

      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="">
            <div class="form-group input-group">
<span class="input-group-addon">@</span>
                <input placeholder="Twitter handle" id="id_follow_handle" name="follow_handle" class="form-control" type="text"  />
                </div>
        </div>
      </div>
    </div>
    <div class="panel">

      <div id="collapseThree" class="panel-collapse collapse">
        <div class="">
            <div class="form-group input-group">
               <span class="input-group-addon">#</span>
                <input placeholder="Hash tag" id="id_hash_tag" name="hash_tag" type="text" class="form-control"  />

            </div>
            <div class="form-group">
                <label for="id_tweet"></label>
                <textarea placeholder="Enter Desired tweet" id="id_tweet" name="tweet"   rows="7" class="form-control" ></textarea>
            </div>

        </div>
      </div>
    </div>
  </div>
        <div class="form-group input-group ">
            <span class="input-group-addon">&#8358;</span>
            <input placeholder="Base pay per action" id="id_base_pay" name="base_pay" type="number" class="form-control" required  />
        </div>
<fieldset>
    <legend>Preference </legend>
    <span>*Set your campaign preference</span><br>
    <select multiple id="id_preference" name="preference" class=" selectpicker" required>

<option value="All">All</option>
<option value="Entertainment,Fashion,Lifestyle">Entertainment,Fashion,Lifestyle</option>
<option value="Internet,Technology,Computer &amp; Software">Internet,Technology,Computer &amp; Software</option>
<option value="Telecommunications,Publishing,News media">Telecommunications,Publishing,News media</option>
<option value="Health care,Food &amp; Fruit,Agriculture">Health care,Food &amp; Fruit,Agriculture</option>
<option value="Construction &amp; Real Estate ,Hospitality &amp; Travel">Construction &amp; Real Estate ,Hospitality &amp; Travel</option>
<option value="Women/Girl Advocacy">Women/Girl Advocacy</option>
<option value="Sports">Sports</option>
<option value="Defense &amp; Arms,Public Administration,Politics">Defense &amp; Arms,Public Administration,Politics</option>
<option value="Transportation Services,Automotive">Transportation Services,Automotive</option>
<option value="Financial services">Financial services</option>
<option value="Education">Education</option>
<option value="Aerospace">Aerospace</option>


</select>


</fieldset>
         <div class="form-group">
             <label for="id_decibel">Decibel:<output for="fader" id="Db" >50</output></label>
             <a href="#" data-toggle="tooltip"  title="This determines your campaign reach and the number of noisemarkers capable of acting on it">
                 <i class="nm-info fa  fa-question-circle-o fa-lg"></i></a>
             <input id="id_decibel" name="decibel" type="range" oninput="outputUpdate(value)"   min="10" max="1000"
               style="border:0;  color:#f6931f; font-weight:bold;"
                class="decibels" required data-rangeslider />
    </div>
<div style="padding: 10px; padding-left: 0">
        <p>Campaign Cost:&nbsp;<span class="label label-default">&#8358;<span id="sum">0</span> </span></p>
    </div>

<input class="btn nm-btn-primary"  type="submit" value="Create" />

    </form>










                 </div>
                 </div>
             <div class="nm-dash">
             <h4 class="page-header">Your Campaigns</h4>

    {% for objects in your_campaigns %}
        <div class="row">
<div class="col-md-6">
{% if objects.action == 'Retweet' %}
                        <div class="nm-main" style="padding: 10px">
                <blockquote class="twitter-tweet" style="max-height: 400px;">
<a href="{{ objects.url }}"></a></blockquote>
                    </div>
                            {% elif objects.action == 'Follow' %}
                         <div class="nm-main" style="padding: 10px">

                         <a class="twitter-follow-button"
  href="https://twitter.com/{{ objects.follow_handle }}"
  data-size="large">
Follow @{{ objects.follow_handle }}</a>
                    </div>
                              {% elif objects.action == 'Tweet' %}
                          <div class="nm-main" style="padding: 10px">

                             <div class="well">

                            <p><span class="mark"> Hashtag</span><br>{{ objects.hash_tag }}</p>

                             <p><span class="mark"> Desired Tweet</span><br>


                            {{ objects.tweet }}</p>
                        </div>

                    </div>


                        {% endif %}

</div>
<div class="col-md-6">
<label>Decibel</label>
<div class="progress">
  <div  class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="{{ objects.decibel }}" aria-valuemin="0" aria-valuemax="100" style="width:{%  widthratio objects.decibel 10 1 %}%; color: #080808;">
{{ objects.decibel }}Db
  </div>
</div>
<p>
    {% if objects.approved == False %}
        <a class="btn nm-btn-primary disabled"  data-toggle="tooltip"  title="Awaiting campaign approval"
   href="">Fund Campaign</a>
                  <i class="fa fa-spinner fa-pulse  fa-fw"></i>&nbsp;Waiting Campaign Approval
                      {% elif objects.approved == True %}
                       <a class="btn nm-btn-primary"  data-toggle="tooltip"  title="fund campaign"
   href="/influencers/fund_campaign/{{ objects.campaign_id }}/{{ objects.lookup }}/">Fund Campaign</a>&nbsp;<i class="fa fa-check"></i>
                     &nbsp;Campaign Approved {% endif %}
</p>
<p>
    <label>Campaign Budget:</label>&#8358;{{ objects.budget }}
</p>
    <p><label>Action</label>
        {{ objects.action }}
    </p>
    <p><label>Base Pay</label>
        &#8358;{{ objects.base_pay }}
    </p>
    <p><label>Noisemakers</label>
        {{ objects.activity_count }} Noisemakers have acted
    </p>
    <p><label>Noise</label>
        {{ objects.estimated_reach }} People reached
    </p>
{% if objects.funded == "True" %}
    <P>
        &#8358;{{ objects.influencers_budget }} Left to spend
    </P>
    <p>
    <span class="label label-success">Live</span>
    </p>
{% endif %}
  <P>
{% autoescape on %}
    <labe>Preference</labe>     <mark>{{ objects.preferences|join:"" }}</mark>
{% endautoescape %}

    </P>

</div>


             </div>

        <hr>

                 {% endfor %}
             </div>

{% endblock %}
{% block gloal_footer %}
<script>
function outputUpdate(db) {
	document.querySelector('#Db').value = db;
}
</script>
<script>
function showVal(newVal){
  document.getElementById("Db").innerHTML=newVal;
}
</script>
<script>
 $(document).ready(function() {

     $("#id_base_pay").keyup(function() {
         calculateSum();
     });

     $('#id_decibel').on('change', function() {
         calculateSum();
     });

 });

 function calculateSum() {

     var sum = 0;
     //iterate through each textboxes and add the values
     $("#id_base_pay").each(function() {

         //add only if the value is number
         if (!isNaN(this.value) && this.value.length != 0) {
             //check cooresponding quantity
             var qty = $(this).parents('div').find('.decibels').val();
             sum += (parseFloat(this.value) * parseInt(qty, 10));
         }

     });
	   //.toFixed() method will roundoff the final sum to 2 decimal places
     $("#sum").html(sum.toFixed(2));
 }

</script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}
{% block mobile_tracker %}
{% endblock %}