{% extends 'influencers/noisemakerz_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_title %}
    Dashboard
{% endblock %}
{% block tracker %}
{% endblock %}
{% block dashboard_nav_01 %}
                <li class="active" ><a href="{% url 'dashboard' %}"><i class="fa  fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;Dashboard </a> </li>
                {% endblock %}
 {% block dashboard_nav %}
                <li class="active" ><a href="{% url 'dashboard' %}"><i class="fa  fa-dashboard" aria-hidden="true"></i>&nbsp; Dashboard</a></li>
                {% endblock %}
{% block right_col %}

     <div class="nm-dash">
                         <div class="row">
                             <div class="col-md-6">
                             <div style="width: 300px; margin: 0 auto;" class="nm-levels hidden-lg hidden-md">
{%  if nsp.rank == "Whisperer" %}


                                     <h4>


            <img style="width: 100px; height: auto; margin: 0 auto;" class="img-responsive" src="{% static 'influencers/images/nm-whisperer-icon.svg' %}">


                                     </h4>
                             <h3 class="text-center"><span>Whisperer</span></h3>
    {% elif nsp.rank == "Jabber" %}
                                 <h4>
            <img style="width: 100px; height: auto;margin: 0 auto;" class="img-responsive" src="{% static 'influencers/images/nm-jabber-icon.svg' %}">
                                     </h4>

                             <h3 class="text-center"><span>Jabber</span></h3>
        {% elif nsp.rank == "Hypeman" %}
                                 <h4>
            <img style="width: 100px; height: auto;margin: 0 auto;" class="img-responsive" src="{% static 'influencers/images/nm-hypeman-icon.svg' %}">
                                     </h4>
                   <h3 class="text-center"><span>Hypeman</span></h3>

         {% elif nsp.rank == "Preacher" %}
                                 <h4>
            <img style="width: 100px; height: auto;margin: 0 auto;" class="img-responsive" src="{% static 'influencers/images/nm-preacher-icon.svg' %}">
                                     </h4>
                             <h3 class="text-center"><span>Preacher</span></h3>
          {% elif nsp.rank == "Town Crier" %}
                                 <h4>
            <img style="width: 100px; height: auto;margin: 0 auto;" class="img-responsive" src="{% static 'influencers/images/nm-town-crier.svg' %}">
                                     </h4>
                             <h3 class="text-center"><span>Town Crier</span></h3>


                                 {% endif %}
                             <ul class="list-unstyled list-inline text-center">
                                     <li>
                                         Decibel: <span class="badge"> {{ nsp.decibel }}</span>
                                     </li>
                                 <li>
                                         My account: <span class="badge">&#8358; {{ nsp.escrow }}</span>
                                     </li>
                                 </ul>
                             </div>
                             <div class="nm-levels hidden-xs hidden-sm">
{%  if nsp.rank == "Whisperer" %}


                                     <h4>


            <img style="width: 100px; height: auto;" class="img-responsive" src="{% static 'influencers/images/nm-whisperer-icon.svg' %}">


                                     </h4>
                             <h2><span>Whisperer</span></h2>
    {% elif nsp.rank == "jabber" %}
                                 <h4>
            <img style="width: 100px; height: auto;" class="img-responsive" src="{% static 'influencers/images/nm-jabber-icon.svg' %}">
                                     </h4>

                             <h2><span>Jabber</span></h2>
        {% elif nsp.rank == "Hypeman" %}
                                 <h4>
            <img style="width: 100px; height: auto;" class="img-responsive" src="{% static 'influencers/images/nm-hypeman-icon.svg' %}">
                                     </h4>
                   <h2><span>Hypeman</span></h2>

         {% elif nsp.rank == "Preacher" %}
                                 <h4>
            <img style="width: 100px; height: auto;" class="img-responsive" src="{% static 'influencers/images/nm-preacher-icon.svg' %}">
                                     </h4>
                             <h2><span>Preacher</span></h2>
          {% elif nsp.rank == "Town Crier" %}
                                 <h4>
            <img style="width: 100px; height: auto;" class="img-responsive" src="{% static 'influencers/images/nm-town-crier.svg' %}">
                                     </h4>
                             <h2><span>Town Crier</span></h2>


                                 {% endif %}
                             <ul class="list-unstyled list-inline">
                                     <li>
                                         Decibel: <span class="badge"> {{ nsp.decibel }}</span>
                                     </li>
                                 </ul>
                             </div>



                             </div>
                             <div class="col-md-6">
<div class="nm-deci">
    <ul class="nav navbar-right hidden-sm hidden-xs">
        <li style="color: #212121;">


            <img style="width: 30px; height: auto;" class="img-responsive" src="{% static 'influencers/images/earned-icon.svg' %}">

        &#8358;{{ nsp.escrow }}</li>
    </ul>

</div>

                             </div>
                         </div>
<hr>

                         <div class="row">
                             <div class="col-md-8" style="border-right: 1px solid #e3e3e3;">
                                    <label >Username</label>
                              <p>   {{ nsp.user }}</p>
                                         <label>Name</label>
<p>{{ nsp.user.first_name }}</p>
                                 <p>{{ nsp.user.last_name }}</p>
                                 <label >Email</label>
                              <p>   {{ nsp.user.email }}</p>

                             </div>
                             <div class="col-md-4">


<label>Last Login&nbsp;</label>
                                <p> <em>&nbsp;{{ nsp.user.last_login }}</em></p>
                                         <label>Preferences</label>
<p>{{ nsp.preferences }}</p>


                             </div>
                         </div>
                     </div>

    <div class="nm-dash">
 <h2 class="page-header">Your Noise Making History</h2>



          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tracking ID</th>
                  <th>Action</th>
                  <th>Base Pay</th>
                </tr>
              </thead>
              <tbody>
              {% for objects in real %}
                <tr>

                  <td>{{ objects.campaign.dummy_tracker }}</td>
                  <td>{{ objects.campaign.action }}</td>
                  <td>&#8358;{{ objects.campaign.base_pay }}</td>

                </tr>
                {% endfor %}





              </tbody>
            </table>
          </div>


{% endblock %}
{% block mobile_tracker %}
{% endblock %}