{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Noisemakerz - Influencers" %}{% endblock %}
{% load staticfiles %}
{% block inline_style %}
    <link rel="stylesheet" href="{% static 'influencers/css/noisemakerz_3.css' %}">
    <style>
    .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}
    .panel{
        border-radius: 0;
    }
    .panel-group .panel + .panel {
    margin-top: 0;
}
    .mastfoot {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
    @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
   body {
          font-family: 'Roboto', sans-serif;
       height: 100%;
       margin-bottom: 200px;

    color: #000;

    background-color: #eeeeee;
}
    .nm-bg-2{
        position: absolute;
        height: 300px;
    background-color: #079e8f;
        z-index: -1;
        top: 0;
    }
    .nm-multi{
        width: 100%;
        background-color: #ffffff;
        margin-top: 50px;
        min-height: 500px;
        padding: 10px;
    }
    </style>
{% endblock %}

{% block content %}

     <div class="sign" style="width: 100%; padding-top: 80px; margin: 0 auto;">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a  class="navbar-brand " href="{% url 'index' %}">
              <div class="nm-logo" >
                  <img  src="{% static "influencers/images/noisemaker-shade.svg" %}" alt="Noisemakerz Logo">
              </div>
          </a>
      </div>
      </nav>
         <div class="container">
         <div class="row">
             <div class="col-sm-12">
                 <div style="color: #ffffff" class="navbar-left list-unstyled">
                     <h4>
                         Influencers
                     </h4>
                 </div>
             </div>
         </div></div>

         <div class="row">
             <div class="col-xs-12 nm-bg-2"></div>
         </div>
    <div class="row">
        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-8 col-xs-12 no-padding">

            <div class="nm-multi">
                <h2 class="page-header text-center">Make money off your social media</h2><br>
                <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
       Signup now and start earning money</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
          Brands are constantly looking to partner with influencers who can help them communicate
           with consumers in an authentic way. Noisemakerz creates this connection,
          putting you in front of hundreds of top brands who are eager to tap into the power of
           your credibility.
      </div>
    </div>
  </div>
                     <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
           What is an Influencer?
       </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        An influencer is someone who writes or creates social media contents that relates and connects
         with his audience/followers interests, bringing them to their social media space. Why the name?
          Because that content attracts loyal followers who are searching for inspiration, instruction,
        entertainment, or advice. Engaging followers in this way gives you the power to move them to action.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            How it works
       </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          With noisemakerz, you can earn money by creating or reposting
           brand sponsored content and actions. Based on your own values and interest,
          you have the power to choose what actions you take and are in total control of every action you take.
      </div>
    </div>
  </div>



</div>


            </div>
        </div>

            <div class="col-md-2 col-xs-12"></div>
        </div>
    </div>
{% endblock %}

{% block gloal_footer %}
    <div class="mastfoot" style=" margin:  0 auto;">
        <div class="ft-logo" style="width: 100px; margin: 0 auto; padding: 4px;">
            <img style="width: 90px; height: auto; margin: 0 auto;" src="{% static 'influencers/images/Surkreo.png' %}" alt="Surkreo">
        </div>
        <div class="inner text-center">&copy; {% now "Y" %} <a href="http:\\www.surkreo.com" target="_blank" > Surkreo </a>
        </div>
    </div>

{% endblock %}