{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block inline_style %}
    {% block special %}
{% endblock %}
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
 <style>
 input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height:20px;
    width: 20px;
    border-radius: 50%;
    background: #04bfad;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #04bfad;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #04bfad;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

 </style>
    <link rel="stylesheet" href="{% static 'influencers/css/noisemakerz_02.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'influencers/css/ion.rangeSlider.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'influencers/css/ion.rangeSlider.skinHTML5.css' %}" type="text/css">

{% endblock %}

{% block global_header %}
      <nav class="navbar   navbar-fixed-top nm-global-nav ">
      <div class="container-fluid">
      <div class="hidden-md hidden-lg hidden-sm ">
               <ul class="nm-btn-01 list-unstyled navbar-right  navbar-nav">
          <li style="margin-right: 10px;">
                  {% if user.is_authenticated %}
                      <a class="" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
                 {% endif %}
            </li>
      </ul>
      </div>

        <div class="navbar-header clearfix" >

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <i class="sr-only">Toggle navigation</i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
          </button>
          <a class="nm-main-logo" href="{% url 'index' %}">
              <div class="nm-logo">
              <img src="{% static "influencers/images/noisemaker-light.svg" %}" alt="Noisemakerz Logo">
                  </div>
          </a>
            <div class="nm-title hidden-xs hidden-sm hidden-md list-unstyled navbar-left">
                <div>{% block page_title %}
                    {% endblock %}
                </div>
            </div>
{% block tracker %}

{% endblock%}
        </div>






        <div id="navbar" class="navbar-collapse collapse ">
            <div class="hidden-lg hidden-md hidden-sm">
         <ul class="nav navbar-nav  ">
             {% block dashboard_nav_01 %}
                <li class="" ><a href="{% url 'dashboard' %}"><i class="fa  fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;Dashboard </a> </li>
                {% endblock %}
            {% block campaigns_nav_01 %}
                <li ><a href="{% url 'campaigns' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Campaigns</a></li>
                {% endblock %}
            {% block your_campaigns_nav_01 %}
                <li ><a href="{% url 'create' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Create Campaigns</a></li>
                {% endblock %}
            {% block invite_nav_01 %}
                <li ><a href="{% url 'send-invite' %}"><i class="fa  fa-envelope" aria-hidden="true"></i>&nbsp; Invite</a></li>
                {% endblock %}
            {% block payouts_nav_01 %}
                <li ><a href="{% url 'payout' %}" ><i class="fa icons-pay fa-fw" aria-hidden="true"></i>&nbsp;Payouts</a></li>
                {% endblock %}



         </ul></div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}

{% block content %}
  <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
             <div class="ns-lg">
               <a  href="{% url 'index' %}"> <img class="img-responsive" src="{% static 'influencers/images/noisemaker-light.svg' %}"></a>
            </div>
            <ul class="nav nav-sidebar">
            {% block dashboard_nav %}
                <li ><a href="{% url 'dashboard' %}"><i class="fa  fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;Dashboard </a> </li>
                {% endblock %}
            {% block campaigns_nav %}
                <li ><a href="{% url 'campaigns' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Campaigns</a></li>
                {% endblock %}
            {% block your_campaigns_nav %}
                <li ><a href="{% url 'create' %}"><i class="fa  fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Create Campaigns</a></li>
                {% endblock %}
            {% block invite_nav %}
                <li ><a href="{% url 'send-invite' %}"><i class="fa  fa-envelope" aria-hidden="true"></i>&nbsp; Invite</a></li>
                {% endblock %}
            {% block payouts_nav %}
                <li ><a href="{% url 'payout' %}" ><i class="fa icons-pay fa-fw" aria-hidden="true"></i>&nbsp;Payouts</a></li>
                {% endblock %}
             <li>
                 {% if user.is_authenticated %}
                     <a href="{% url 'auth_logout' %}">
                         <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>&nbsp;{% trans "Log out" %}</a>
                 {% endif %}
                </li>
          </ul>

        <ul class="nav nav-sidebar nm-ul-02">
            <li><a href="{% url 'brands' %}">Businesses</a> </li>
            <li><a href="{% url 'faq' %}">FAQs</a> </li>
            <li><a href="{% url 'influencers' %}">Influencers</a> </li>

            </ul>
        <div class="n-footer-02">
           <em>&copy; {% now "Y" %} Noisemakers</em>
        </div>
        </div><!-- end left col-->



          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <div class="main">
          {% block right_col %}

              {% endblock %}
          </div>
              </div><!-- end right -->

    </div>

{% block mobile_tracker %}

{% endblock %}
{% endblock %}
{% block gloal_footer %}
{% endblock %}