{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block inline_style %}
    <link rel="stylesheet" href="{% static 'influencers/css/noisemakerz_3.css' %}">
    <style>
    body {
    color: #000;
    margin-bottom: 0;
    background-image: url('{% static "influencers/images/landing-bg-2.jpg" %}');;
    background-color: #333;
}
    </style>
{% endblock %}

{% block content %}
    <div class="sign" style="width: 100%; padding-top: 80px; margin: 0 auto;">
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a style="width: 100%; margin: 0 auto;" class="navbar-brand " href="{% url 'index' %}">
              <div class="nm-logo" style="width: 180px; margin: 0 auto;">
                  <img style="margin: 0 auto;" src="{% static "influencers/images/noisemaker-shade.svg" %}" alt="Noisemakerz Logo">
              </div>
          </a>
      </div>
      </nav>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="nm-dash" style="border-radius: 6px; box-shadow: #728099 0 1px 5px 0; margin: 0 auto; padding: 20px">
                    <h1 class="page-header">Become A Noisemaker</h1>
                    <div class="">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <span>{{ form.email.errors.as_text }}</span>
                            <div class="form-group">
                                {{ form.username.errors.as_text }}
                                <label for="id_username"></label>
                                <input class="required form-control" placeholder="Username" id="id_username" maxlength="30" name="username"  type="text" required />
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                                <label for="id_email"></label>
                                <input class="required form-control" placeholder="Email address"  id="id_email" maxlength="75" name="email" type="email" required />
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                                <label for="id_password1"></label>
                                <input class="required form-control" id="id_password1" name="password1" placeholder="Create password"  type="password" required />
                            </div>
                            {{ form.non_field_errors.as_text }}
                            <div class="form-group input-group">
                                <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                                <label for="id_password2"></label>
                                <input class="required form-control" id="id_password2" placeholder="Confirm password" name="password2" type="password" required />
                            </div>
                            <div class="form-group ">
                                <input style="width: 100%;" class="btn nm-btn-primary"   type="submit" value="Sign up" />
                            </div>
                        </form>
                        <p>{% trans "Already a Noisemaker" %}? <a class="" data-toggle="modal" style="cursor: pointer;" data-target="#myModal"><span class="badge"> {% trans "Log in" %}</span></a></p>
                    </div>
                </div>
            </div>
        <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}

{% block gloal_footer %}
   <div class="mastfoot" style=" margin:  0 auto;">
        <div class="ft-logo" style="width: 100px; margin: 0 auto; padding: 4px;">
            <img style="width: 90px; height: auto; margin: 0 auto;" src="{% static 'influencers/images/Surkreo.png' %}" alt="Surkreo">
        </div>
        <div class="inner text-center">&copy; {% now "Y" %} <a href="http:\\www.surkreo.com" target="_blank" > Surkreo </a>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 300px; margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Log in to Noisemaker</h3>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'auth_login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <P><label for="id_username"></label>
                                <input id="id_username" type="text" name="username" maxlength="254" class="form-control" placeholder="username" required /></P>
                        </div>
                        <div class="form-group">
                            <P><label for="id_password"></label>
                                <input id="id_password" type="password" name="password" maxlength="100" class="form-control" placeholder="password" required /></P>
                        </div>
                        <input type="submit" class="btn btn-success"  style="width: 100%" value="{% trans 'Log in' %}" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>


                    <p>{% trans "Not a Noisemaker" %}? <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}